/* CSS Reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}
sup{vertical-align:super !important;}
sub{vertical-align:sub !important;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none}
table {border-collapse: collapse;border-spacing: 0}
/* a { display: block; cursor: pointer; } */
.cboth {margin: 0px !important; padding: 0px !important; height: 0px !important; line-height: 0 !important; clear: both !important; }
html, body { height: 100%; }
textarea { resize: none; }
a:focus { outline: 0; }
/* End of CSS Reset */

body { font-size: 15px; font-family: 'Lato', sans-serif; color: #333; margin-top: 30px; }
header h1 { text-align: center; font-weight: bold; padding: 10px 0px; font-size: 20px; }
.container .form-group { min-height: 35px; }
.container .form-group label { width: 30%; float: left;
	padding-top: 10px; }
.container .form-group input, .container .date, .container .form-group select { width: 70%; float: left; }
.container .date input  { width: 100%; float: none; }
.tab-pane { border: 1px solid #ddd; border-radius:0px 0px 5px 5px; border-top:0; padding: 15px 0px; }
.nav.nav-tabs .active { font-weight: bold; }
.nav.nav-tabs a { border: 1px solid #ddd; margin-right: 7px; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { background: #ddd; border: 1px solid #ddd;
	color: #333; }
.form-slider { width: 70%; float: left; margin-top: 8px; }
.form-slider b { float: left; width: 20px; display: inline-block; margin-right: 10px;padding-top: 3px; }
.form-slider input + b { float: left; width: 20px; display: inline-block; margin-left:10px; margin-right: 0; }
.form-slider .slider.slider-horizontal { width: calc(100% - 60px); float: left; }
.slider-track-low, .slider-track-high { background: #969696; }
.btn-secondary { color: #fff; background-color: #6c757d;  border-color: #6c757d; }
.btn-secondary:hover { color: #fff; background-color: #5a6268; border-color: #545b62; }
.form-btns { text-align: center; }
.form-btns button { margin-right: 10px; width: 100px; }

.task-table { width: 95%; margin: 0 auto; }
.task-table table thead th { color: #fff; background: #6b7881; border-color: #ddd; text-align: center; }
.task-table table thead th:first-child { border-left: 0; }
.task-table table thead th:last-child { }
.table-bordered { border: 0; margin-bottom: 0; }
.task-table .table>tbody>tr>td { vertical-align: middle; } 
.task-table .table>tbody>tr>td:last-child { text-align: center; }
.task-table .table>tbody>tr>td:last-child button { margin-right: 10px; }

footer { padding: 10px 0px; }
.frst-label{width:14% !important;}